.bg-image {
	background-image: url("../Images/image1.png");
	background-size: cover;
	background-position: center;
	height: auto;
	padding-top: 0px;
	/* Add more styles as needed */
}

/* CashierHome.css */

.cashier-home-container {
	display: flex;
	flex-direction: raw;
	margin-top: 2rem;
	justify-content: space-around;
	height: 100vh; /* Adjust as needed for full page height */
}

.forms-container {
	display: flex;
	justify-content: center;
	gap: 30px; /* Space between forms */
	height: fit-content;
	padding: 15px;
}

.customer-form {
	width: 300px;
	padding: 30px;
	border: 1px solid #ccb53e;
	border-radius: 8px;
	background-color: white;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input {
	width: calc(100% - 10px);
	padding: 8px;
	border: 1px solid #ccb53e;
	border-radius: 4px;
}

.buttons-container {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #000000;
}

.buttons-container button {
	width: 100%;
	padding: 10px; /* Adjust button padding */
	font-size: 14px;
}
.link-container {
	margin-top: 40px;
	color: #000000;
	border-radius: 8px;
	padding: 5px;
	border: 1px solid #ccb53e;
	background-color: #ccb53e;
	justify-content: space-between;
}

/* Ensure the table is styled and aligned properly */

.customer-table-container {
	width: 60%;
}

.customer-table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 15px;
}

.customer-table th,
.customer-table td {
	border: 1px solid #ccb53e;
	padding: 8px;
	text-align: left;
}

.customer-table th {
	background-color: #f2f2f2;
}

.customer-table td {
	background-color: #fff;
}

.customer-table button {
	margin-right: 5px;
}

.customer-table-container td:nth-child(4) {
	width: auto;
	display: flex;
	justify-content: space-around;
}

.customer-form .refresh-button,
.customer-table-container td:nth-child(4) button {
	width: 90px;
	height: 30px;
	border: none;
	border-radius: 2px;
	color: #dfd9d9;
}

.refresh-button {
	margin-top: 1rem;
	background-color: #4ba112;
	cursor: pointer;
}

.edit-button {
	background-color: #0fabb6;
}

.delete-button {
	background-color: #c23434;
}

.order-button {
	background-color: #ccb53e;
	margin: 0;
  width: 90px;
  height: 30px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
